---
// Footer component
---

<hr>

<section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title">BibTeX</h2>
    <pre><code set:html={`@article{chen2025perklongcontextreasoningparameterefficient,
      title={PERK: Long-Context Reasoning as Parameter-Efficient Test-Time Learning},
      author={Zeming Chen and Angelika Romanou and Gail Weiss and Antoine Bosselut},
      year={2025},
      eprint={2507.06415},
      archivePrefix={arXiv},
      primaryClass={cs.CL},
      url={https://arxiv.org/abs/2507.06415},
}`} /></pre>
  </div>
</section>

{/* <section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title">Acknowledgements</h2>
    <div class="content has-text-justified">
      <p>
        We thank
      </p>
    </div>
  </div>
</section> */}

<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <p>
            This website is based on the
            <a href="https://github.com/nerfies/nerfies.github.io" target="_blank">Nerfies website template</a>,
            which is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>