<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <div class="figure-container">
        <figure class="image">
          <img src="/static/images/perk_inference.png" alt="PERK inference figure."/>
        </figure>
        <div class="table-caption">
          <strong>Reasoning as Test-Time Learning:</strong>
          <span class="highlight-text">PERK (Ours)</span> models perform reasoning by first compressing
          a given long context into its memory parameters through test-time self-supervised learning with gradient updates,
          and then using the adapted parameters to generate responses to user queries.
          The long context is formulated as a batch of segment-level sequences that are encoded in parallel by adapting the memory parameters
          through minimizing the next-token prediction loss.
        </div>
      </div>
    </div>
  </div>
</section>