---
// Hero headline component
---

<section class="hero headline">
  <div class="hero-body">
    <div class="container is-max-desktop headline-container">
      <div class="columns is-centered">
        <div class="column has-text-left">
          <div class="title-container">
            <h1 id="scrollingHead" class="title is-1 publication-title">PERK: Long-Context Reasoning<br>as Test-Time Learning</h1>
          </div>
        </div>

        <div class="logo-container">
          <img src="/static/images/EPFL_logo.png" class="logo" width="140" alt="EPFL logo"/>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column has-text-left banner">
          <blockquote>
            A scalable meta-learning method that learns to encode long contexts through gradient updates<br>to a model adapter at test time,
            achieving long-context reasoning robust to complexity and length extrapolation while scaling more efficiently at inference.
          </blockquote>
        </div>
      </div>

      <div class="column has-text-justified">
        <div class="publication-links">
          <!-- PDF Link. Neurips-->
          <span class="link-block-header">
            <a href="https://arxiv.org/abs/2305.06349"
              target="_blank" class="external-link button is-normal is-rounded is-dark">
              <span class="icon">
                  <i class="ai ai-arxiv"></i>
              </span>
              <span><span class="dmethod">RECKONING</span> Paper (NeurIPS 2023)</span>
            </a>
          </span>
          <!-- PDF Link. Arxiv-->
          <span class="link-block-header">
            <a href="https://arxiv.org/abs/2507.06415"
              target="_blank" class="external-link button is-normal is-rounded is-dark">
              <span class="icon">
                  <i class="ai ai-arxiv"></i>
              </span>
              <span><span class="dmethod">PERK</span> Paper (Arxiv 2025)</span>
            </a>
          </span>
          <!-- Code Link. -->
          <!-- <span class="link-block-header">
            <a href="https://github.com/eric11eca/ml-4m/" target="_blank" class="external-link button is-normal is-rounded is-dark">
              <span class="icon">
                  <i class="fab fa-github"></i>
              </span>
              <span>Code</span>
            </a>
          </span> -->
        </div>
      </div>
    </div>
  </div>
</section>