---
// Navbar component
---

<nav class="navbar is-transparent is-fixed-top glass-overlay" role="navigation" aria-label="main navigation" id="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Home
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="/#about">
        Overview
      </a>

      <a class="navbar-item" href="/#publications">
        Papers & code
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/#method">
          Method
        </a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/#inner-loop-training">
            Inner loop training
          </a>
          <a class="navbar-item" href="/#outer-loop-training">
            Outer loop training
          </a>
          <a class="navbar-item" href="/#truncated-gradient-unrolling">
            Truncated gradient unrolling
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/#long-context-eval">
          Long-context reasoning
        </a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/#babilong-niah-reasoning">
            Reasoning over Needles-in-a-Haystack
          </a>
          <a class="navbar-item" href="/#multi-doc-qa">
            Multi-Document Question Answering
          </a>
          <a class="navbar-item" href="/#drop-in-ocean-reasoning">
            Reasoning over Drops-in-an-Ocean
          </a>
          <a class="navbar-item" href="/#model-family-generalization">
            Model Family & Scale Generalization
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/#robustness-analysis">
          Robustness analysis
        </a>

        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/#length-robustness">
            Robusetness to Unseen Test-Time Lengths
          </a>
          <a class="navbar-item" href="/#positional-biases">
            Robustness to positional biases
          </a>
        </div>
      </div>

      <a class="navbar-item" href="/#efficiency-analysis">
        Efficiency analysis
      </a>

      <a class="navbar-item" href="/#future-prospects">
        Future prospects
      </a>

      <a class="navbar-item" href="/paper">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-file-pdf"></i>
          </span>
          <span>Current Preprint</span>
        </span>
      </a>

    </div>
  </div>
</nav>