---
// Section publications component
---

<section class="section">
  <div class="container is-max-desktop">
    <div class="columns is-centered has-text-centered">
      <div class="column is-full">
        <a class="anchor" id="publications"></a>

        <div class="tile is-ancestor is-centered">
          <!-- Neurips -->
          <div class="tile is-parent is-12">
            <a class="anchor" id="fourm21_paper"></a>
            <article class="tile is-child box">
              <p class="title is-4">RECKONING: Reasoning through Dynamic Knowledge Encoding</p>

              <div class="is-size-5 publication-authors">
                <span class="author-block">
                  <a href="https://eric11eca.github.io/" target="_blank">Zeming Chen</a> <sup>1</sup>,
                </span>
                <span class="author-block">
                  <a href="https://gailweiss.github.io/" target="_blank">Gail Weiss</a> <sup>1</sup>,
                </span>
                <span class="author-block">
                  <a href="https://ericmitchell.ai/" target="_blank">Eric Mitchell</a> <sup>2</sup>,
                </span>
                <span class="author-block">
                  <a href="http://asli.us/" target="_blank">Asli Celikyilmaz</a> <sup>3</sup>,
                </span>
                <span class="author-block">
                  <a href="https://atcbosselut.github.io/" target="_blank">Antoine Bosselut</a> <sup>1</sup>,
                </span>
              </div>

              <div class="is-size-5 publication-authors">
                <span class="author-block"><sup>1</sup>EPFL</span>
                <span class="author-block"><sup>2</sup>Stanford University</span>
                <span class="author-block"><sup>3</sup>Meta AI</span>
              </div>

              <div class="is-size-5 has-text-weight-semibold mt-3 publication-title">
                <span class="author-block">NeurIPS 2023</span>
              </div>

              <br>

              <div class="column has-text-centered">
                <div class="publication-links">
                  <!-- PDF Link. -->
                  <span class="link-block">
                    <a href="https://arxiv.org/abs/2305.06349" target="_blank" class="external-link button is-normal is-rounded is-dark">
                      <span class="icon">
                          <i class="ai ai-arxiv"></i>
                      </span>
                      <span>Paper</span>
                    </a>
                  </span>
                  <!-- Code Link. -->
                  <span class="link-block">
                    <a href="https://github.com/eric11eca/reckoning-metakg" target="_blank" class="external-link button is-normal is-rounded is-dark">
                      <span class="icon">
                          <i class="fab fa-github"></i>
                      </span>
                      <span>Code</span>
                    </a>
                  </span>
                </div>
              </div>

            </article>
          </div>
        </div>
        <!--/ Neurips -->

        <!-- Arxiv -->
        <div class="tile is-ancestor is-centered">
          <div class="tile is-parent is-12">
            <a class="anchor" id="fourm21_paper"></a>
            <article class="tile is-child box">
              <p class="title is-4">PERK: Long-Context Reasoning as Test-Time Learning</p>

              <div class="is-size-5 publication-authors">
                <span class="author-block">
                  <a href="https://eric11eca.github.io/" target="_blank">Zeming Chen</a> <sup>1</sup>,
                </span>
                <span class="author-block">
                  <a href="https://agromanou.github.io/" target="_blank">Angelika Romanou</a> <sup>1</sup>,
                </span>
                <span class="author-block">
                  <a href="https://gailweiss.github.io/" target="_blank">Gail Weiss</a> <sup>1</sup>,
                </span>
                <span class="author-block">
                  <a href="https://atcbosselut.github.io/" target="_blank">Antoine Bosselut</a> <sup>1</sup>
                </span>
              </div>

              <div class="is-size-5 publication-authors">
                <span class="author-block"><sup>1</sup>EPFL</span>
              </div>

              <div class="is-size-5 has-text-weight-semibold mt-3 publication-title">
                <span class="author-block">ArXiv Preprint 2025</span>
              </div>

              <br>

              <div class="column has-text-centered">
                <div class="publication-links">
                  <!-- PDF Link. -->
                  <span class="link-block">
                    <a href="https://arxiv.org/abs/2507.06415" target="_blank" class="external-link button is-normal is-rounded is-dark">
                      <span class="icon">
                          <i class="ai ai-arxiv"></i>
                      </span>
                      <span>Paper</span>
                    </a>
                  </span>
                  <!-- Code Link. -->
                  <span class="link-block">
                    <a href="https://github.com/eric11eca/perk" target="_blank" class="external-link button is-normal is-rounded is-dark">
                      <span class="icon">
                          <i class="fab fa-github"></i>
                      </span>
                      <span>Code</span>
                      </a>
                  </span>
                  <!-- Poster -->
                  <!-- <span class="link-block">
                    <a href="https://storage.googleapis.com/four_m_site/presentation/4M-21_Poster.pdf" target="_blank" class="external-link button is-normal is-rounded is-dark">
                      <span class="icon">
                          <i class="far fa-sticky-note"></i>
                      </span>
                      <span>Poster</span>
                      </a>
                  </span> -->
                  <!-- Slides (Keynote) -->
                  <!-- <span class="link-block">
                    <a href="https://storage.googleapis.com/four_m_site/presentation/4M-21_Slides.key" target="_blank" class="external-link button is-normal is-rounded is-dark">
                      <span class="icon">
                          <i class="fas fa-file-powerpoint"></i>
                      </span>
                      <span>Slides (Keynote)</span>
                      </a>
                  </span> -->

                  <!-- BibTeX -->
                  <!-- <div id="modal-js-example-21" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                      <div class="box">
                        <h2 class="title">BibTeX</h2>
                          <pre style="text-align: left;"><code>{`@article{perk2025,
    title={PERK: Long-Context Reasoning as Parameter-Efficient Test-Time Learning},
    author={Zeming Chen and Angelika Romanou and Gail Weiss and Antoine Bosselut},
    journal={arXiv 2025},
    year={2025},
}`}</code></pre>
                      </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                  </div> -->
                  <!-- <span class="link-block">
                    <a target="_blank" class="external-link button is-normal is-rounded is-dark js-modal-trigger"
                       data-target="modal-js-example-21">
                      <span class="icon">
                          <i class="fas fa-newspaper"></i>
                      </span>
                      <span>BibTeX</span>
                      </a>
                  </span> -->
                </div>
              </div>

              <div class="intro-video-container">
                <!-- Introductory video -->
                <!-- <video id="teaser" controls="controls" height="100%" width="100%" preload="metadata">
                  <source src="https://storage.googleapis.com/four_m_site/videos/4M-21_Website_Video.mp4#t=0.1"
                          type="video/mp4">
                </video>
                <h2 class="subtitle has-text-centered">
                  Introductory video (15min) <i class="fa fa-volume-up"></i>.
                </h2> -->
                <!--/ Introductory video -->
              </div>
            </article>
          </div>
          <!--/ Arxiv -->
        </div>
      </div>
    </div>
  </div>
</section>